body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  background-color: #eeeeee
}

.container {
  width: 100vw;
  background-color: #eeeeee;
  padding: 0;
}

.welcome {
  color: #FFFFFF;
  height: 100vh;
  padding: 6em 2.5em;
  text-align: center;
  background-color: #D9C491;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome .title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 0.25em;
  letter-spacing: 2px;
}

.welcome p {
  margin: 0;
}

.welcome input {
  width: 80%;
  background-color: #b4a278;
  padding:  1em 2em;
  margin: 3em 0;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 2px;
  text-align: center;
}

.welcome .button {
  font-size: 1.5em;
  color: #D9C491;
  width: 80%;
  border: #D3D3D3 solid 0.4em;
  border-radius: 4px;
  background-color: #ffffff;
  padding:  1em 2em;
  margin: 3em 0;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box;
  transition: border 150ms ease-in;
}

.header {
  color: #FFFFFF;
  padding: 6em 2.5em;
  text-align: center;
  background-color: #D9C491;
}

.header .title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 1.25em;
  letter-spacing: 2px;
}

.header p {
  margin: 0;
}

.question {
  padding: 4em 0 5em 0;
  border-bottom: solid 8px #D3D3D3;
}

.question:first-child {
  border-top: solid 8px #D3D3D3;
}

.question .number {
  font-weight: 800;
  color: #D9C491;
  text-align: center;
  margin-bottom: 2em;
  letter-spacing: 4px;
}

.question p{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
}

.question_input{
  width: 80%;
  margin: 0 10% 2em 10%;
  border: #D9C491 solid 0.4em;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2em;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box;
  transition: border 150ms ease-in;
}

.question_input:focus{
  border: white solid 0.4em;
}

.question_input::placeholder{
  color: #D3D3D3;
  text-align: center;
}

.question .radio {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.question .radio label:first-child {
  margin-right: 3em;
}

.question_option_input {
  margin-left: 0.5em;
}

.question_detail_label {
  display: block;
  text-align: center;
  margin-top: 1.5em;
}

.send {
  width: 100%;
  color: #FFFFFF;
  padding: 4em 0;
  text-align: center;
  background-color: #D9C491;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 2px;
  border: 0;
}

.review {
  margin: 2em 2em 6em 2em;
}

.review_answer {
  border-top: solid 2px #91B009;
  padding: 1em 0;
}

.review_answer_number {
  font-weight: 800;
  margin-right: 0.5em !important;
  color: #D3D3D3 !important;
}

.review_answer :first-child {
  margin: 0;
  color: initial;
  text-transform: none;
}

.review_answer p {
  margin: 0.25em 0 0 2em;
  color: #91B009;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .question{
    padding: 6em 0 5em 0;
  }
  .question p{
    width: 60%;
    text-align: center;
  }

  .question_input{
    width: 60%;
    margin: 0 20% 2em 20%;
  }
}

@media only screen and (min-width: 1024px) {
  .question p{
    width: 40%;
  }

  .question_input{
    width: 40%;
    margin: 0 30% 2em 30%;
  }

  .question_option_input{
    padding: 3vh 10vw;
    transition: 150ms ease-in;
  }

  .question_option_input:hover{
    color: #D9C491;
    background-color: #eeeeee;
  }

  ul li {
    margin-right: 2.5em;
    margin-left: 2.5em;
  }
}
.button {
  width: 90%;
  min-height: 5vh;
  font-size: 2rem;
}

/* .full-page {
  width: 100vw;
  height: 100vh;
  background-color: #209cee;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
label {
  font-size: 1.24em;
} */